<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>Editar Position - Quest Vest</title>
  </head>
  <body>
    <main>
      <div class="grid-admin">
        <div class="content-admin">
          <%- include('components/menuAdmin') %>
          <div class="admin-profile"></div>
          <div class="content-display">
            <div class="content-msg">
              <% if(msgSuccess) { %>
              <div class="msgSuccess">
                <%= msgSuccess %> <a href="/position">X</a>
              </div>
              <% } %> <% if (msgError) { %>
              <div class="msgError">
                <%= msgError %> <a href="/position">X</a>
              </div>
              <% } %>
              <h1>Position</h1>
              <div class="content-position">
                <form
                  method="post"
                  action="/position/editPosition/<%= position.position_id %>"
                >
                  <div class="content-add-position">
                    <h2>Atualizar Posição</h2>
                    <div class="input-position-name">
                      <input
                        type="text"
                        name="position_name"
                        id="position_name"
                        placeholder="Nome da Posição"
                        value="<%= position.position_name %>"
                      />
                    </div>
                    <div class="btn-position">
                      <button>Cadastrar Posição</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
