<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="content-login-register">
        <div class="content-form-login">
          <form action="/loginRegister/login" method="post">
            <div class="icon-login">
              <i class="bx bxs-user"></i>
            </div>
            <h1>Login</h1>
            <div class="input-email input">
              <label for="user-email"></label>
              <input
                type="text"
                name="user_email"
                class="user-email"
                placeholder="Digite seu email"
                id="user-email-login"
              />
            </div>
            <div class="input-password input">
              <label for="user-password"></label>
              <input
                type="password"
                name="user_password"
                class="user-password"
                placeholder="Digite uma Senha"
                id="user-password-login"
              />
            </div>

            <div class="content-btn">
              <button>Login</button>
            </div>
            <div class="content-msg">
              <% if(msgError) { %>
              <div class="msgError"><%= msgError %></div>
              <% } %>
            </div>
          </form>
        </div>
        <div class="content-form-cadastro">
          <form action="/loginRegister/register" method="post">
            <div class="form-logo">
              <img src="/img/logo.png" alt="" />
            </div>
            <h1>Cadastro *</h1>
            <div class="input-name input">
              <label for="user-name"></label>
              <input
                type="text"
                name="user_name"
                class="user-name"
                placeholder="Nome completo"
                id="user-name"
              />
              <div class="content-msg">
                <% if(msgNameError) { %>
                <div class="msgError"><%= msgNameError %></div>
                <% } %>
              </div>
            </div>
            <div class="input-email input">
              <label for="user-email"></label>
              <input
                type="text"
                name="user_email"
                class="user-email"
                placeholder="Digite seu email"
                id="user-email"
              />
              <div class="content-msg">
                <% if(msgErrorEmail) { %>
                <div class="msgError"><%= msgErrorEmail %></div>
                <% } %>
              </div>
            </div>
            <div class="input-password input">
              <label for="user-password"></label>
              <input
                type="password"
                name="user_password"
                class="user-password"
                placeholder="Digite uma Senha"
                id="user-password"
              />
              <div class="content-msg">
                <% if(msgPassError || passwordError) { %>
                <div class="msgError"><%= msgPassError || passwordError %></div>
                <% } %>
              </div>
            </div>
            <div class="input-confirm-password input">
              <label for="user-confirm-password"></label>
              <input
                type="password"
                name="userConfirmPassword"
                class="user-confirm-password"
                placeholder="Confirmar a Senha"
                id="user-confirm-password"
              />
              <div class="content-msg">
                <% if(msgPassError) { %>
                <div class="msgError"><%= msgPassError %></div>
                <% } %>
              </div>
            </div>
            <div class="content-btn">
              <button>Cadastro</button>
            </div>
            <div class="content-msg">
              <% if(msgFieldsEmpty) { %>
              <div class="msgError"><%= msgFieldsEmpty %></div>
              <% } %><% if(msgErrorDB) { %>
              <div class="msgError"><%= msgErrorDB %></div>
              <% } %> <% if(msgSuccess) { %>
              <div class="msgSuccess"><%= msgSuccess %></div>
              <% } %>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
