<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main>
      <%- include('components/header') %>
      <div class="content-form-cadastro">
        <h1>Cadastro de Livros</h1>
        <div class="content-msg">
          <% if(msgSuccess){%>
          <div class="msgSuccess"><%= msgSuccess %></div>
          <% } %> <% if(msgError){%>
          <div class="msgError"><%= msgError %></div>
          <% } %>
        </div>
        <form
          action="/registerBooks"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="left">
            <div class="input input-book-image">
              <label for="book_image" class="image-preview">
                <img id="img-book" src="/image.png" alt="" />
              </label>
              <input
                type="file"
                name="book_image"
                class="book_image"
                id="book_image"
                accept="image/*"
              />
            </div>
          </div>
          <div class="right">
            <div class="input input-book-name">
              <label for="book_name"></label>
              <input
                type="text"
                name="book_name"
                class="book_name"
                placeholder="Digite o nome do Livro"
                id="book_name"
              />
            </div>
            <div class="input input-book-autor">
              <label for="book_autor"></label>
              <input
                type="text"
                name="book_autor"
                class="book_autor"
                placeholder="Digite o nome do Autor ou Autora"
                id="book_autor"
              />
            </div>
            <div class="input input-book-categoria">
              <label for="book_categoria"></label>
              <input
                type="text"
                name="book_categoria"
                class="book_categoria"
                placeholder="Digite uma categoria"
                id="book_categoria"
              />
            </div>
            <div class="input input-book-desc">
              <label for="book_desc"></label>
              <textarea
                name="book_desc"
                class="book_desc"
                placeholder="Digite a descrição do Livro"
                id="book_desc"
              ></textarea>
            </div>
            <div class="content-btn">
              <button>cadastro</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container_books">
        <div class="content_books">
          <h1>Lista de Livros</h1>
          <div class="row">
            <% if (books.length > 0) { books.forEach(book => { %>
            <div class="border-row">
              <div class="col"><img src="<%= book.book_image %>" alt="" /></div>
              <div class="col"><%= book.book_name %></div>
              <div class="col"><%= book.book_autor %></div>
              <div class="col"><%= book.book_categoria %></div>
              <div class="col">
                <a href="/registerBooks/editBook/<%= book.book_id %>">Editar</a>
              </div>
              <div class="col">
                <a
                  class="delete"
                  onclick="openModalDeleteBook(`<%= book.book_id %>`, `<%= book.book_name %>`)"
                  id="delete"
                  href="#"
                >
                  <i class="bx bxs-trash"></i>
                  Deletar
                </a>
              </div>
            </div>
            <% })} else { %>
            <div>Nenhum registro encontrado!</div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="modal hide-modal" id="modal">
        <form action="" method="post">
          <div class="content-delete" id="content-delete">
            <p>Você está prestes a deletar o Livro</p>
            <h3></h3>
            <h4>
              Se você realmente quer deletar clique em Deletar se não clique em
              Cancelar
            </h4>
            <div class="btns_delete">
              <button class="btn_cancel" id="cancelar" type="reset">
                Cancelar
              </button>
              <button class="btn_delete">Delete</button>
            </div>
          </div>
        </form>
      </div>
      <%- include('components/footer') %>
    </main>
    <%- include('components/script') %>
  </body>
</html>
